@charset "UTF-8";

.blue { color: #185875; }
.yellow { color: #FFF842; }

.classes {
    text-align: center;
    color: white;
    width: 100%;
}

.class {
	  font-weight: normal;
	  font-size: 1em;
}

.tableContainer div {
    height: auto;
    padding-bottom: 10px
}

.classesLi {
    list-style: none;  
}

.class {
    background-color: white;
    color: black;
    text-align: left;
    border: 2% solid #202020;
    border-radius: 3px;
    width: 80%;
    margin-top: 0px;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-left: 10%;
    height: 5%;
    padding-bottom: 10px;
    -webkit-box-shadow: 0 5px 5px -2px #0E1119;
    -moz-box-shadow: 0 5px 5px -2px #0E1119;
         box-shadow: 0 5px 5px -2px #0E1119;
    z-index: 1;
}

.class h2, h4 {
    margin-left: 5%;
    margin-bottom: 0px;
    margin-right: 5%;
}


.basic-btn {
    background: #ffe100;
    color:#161616;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 5px -2px #0E1119;
    -moz-box-shadow: 0 5px 5px -2px #0E1119;
         box-shadow: 0 5px 5px -2px #0E1119;
}

.addClass {
    padding:1.2em;
    width: 77.5%;
    cursor:pointer;
    margin-bottom:25px;
    position: absolute;
    bottom: 0;
    font-size:1.3em;
    height: 10%;
    margin-left: 8.5%;
}

.logout {
    margin-top: -45px;
    left: 20.5%;
    position: absolute;
}

.addclass {
    margin-top: -45px;
    left: 23.5%;
    position: absolute;
}

.goBack {
    margin-top: 7px;
    left: 20.5%;
    position: absolute;
}

.semesterContainer {
    width: 80%;
    position: absolute;
    right: 0;
    padding-right: 15%;
    overflow-y: auto;
    height:100.1%;
    margin-top: -3%;
    bottom:0;
    min-height: 900px;
}

.tableContainer div:hover {
    font-weight: bold;
    
    box-shadow: #161616 -1px 1px, #161616 -2px 2px, #161616 -3px 3px, #161616 -4px 4px, #161616 -5px 5px, #161616 -6px 6px;
    transform: translate3d(1px, -3px, 0);
    
    transition-delay: 0s;
        transition-duration: 0.2s;
        transition-property: all;
    transition-timing-function: line;
}    

.tableContainer {
    background-color: #161616;
    height: 100%;
    margin-top: -65px;
    overflow-y: auto;
    width: 20%;
    position: absolute;
    bottom: 0;
    left: 0;    
}

.container {
    text-align: left;
    overflow: hidden;
    width: 30%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
    float: left;
    height: 100%;
}

/* .tableContainer div:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
} */

.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;
  
  box-shadow: #161616 -1px 1px, #161616 -2px 2px, #161616 -3px 3px, #161616 -4px 4px, #161616 -5px 5px, #161616 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    background-color: #494949;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #ffe100; 
    background-color: #ffe100;
}

button {
    float:right;
    border: none;
    opacity: 0;
    width: 5px;
    border-radius: 2px;
    padding-top:5px;
    padding-bottom: 3px;
    height: 72px;
}


.class:hover button { /* or */
    background-color: #4eed40;
    opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding-left: 5px;
    padding-right: 23px;
}