<div class="tableContainer">
  <h2 class="classes">Current Classes</h2>
  <ul>
    <li class="classesLi" *ngFor="let class of (classes | async)" [class.done]="class.done">
        <div class="class">
          <h2>{{ class.Course }}</h2>
          <h4>{{ class.Description }}</h4>
        </div>
    </li>
  </ul>
</div>
<div class="semesterContainer">
  <app-semester class="semester" [year]="'Freshman'"></app-semester>
  <app-semester class="semester" [year]="'Sophomore'"></app-semester>
  <app-semester class="semester" [year]="'Junior'"></app-semester>
  <app-semester class="semester" [year]="'Senior'"></app-semester>
</div>
<button type="button" (click)="logOut()" class="logout btn btn-default btn-lg">
  <span class="glyphicon glyphicon-log-out"></span> 
</button>
<button type="button" (click)="addClass()" class="addclass btn btn-default btn-lg">
  <span class="glyphicon glyphicon-plus"></span>
</button>
<button type="button" (click)="goToStudents()" class="goBack btn btn-default btn-lg">
  <span class="glyphicon glyphicon-chevron-left"></span>
</button>
