<div class="tableContainer">
  <h2 class="students">Add Class</h2>
  <form #formData='ngForm' (ngSubmit)="addClass()">
    <input type="text" name="description" class="form-control txt" id="description" placeholder = "Class Name" [(ngModel)]="Description" required>
    <input type="text" name="course" class="form-control txt" id="course" placeholder = "Course (I.E CSC 121)" [(ngModel)]="Course" required>
    <input type="text" name="professor" class="form-control txt" id="professor" placeholder="Professor" [(ngModel)]="Professor" required>
    <input type="text" name="credit" class="form-control txt" id="credit" placeholder="Credit" [(ngModel)]="Credit" required>
    <input type="text" name="comp" class="form-control txt" id="comp" placeholder="Competencey" [(ngModel)]="Comp" required>
    <button type="submit" class="btn btn-success basic-btn create">Add Class</button>
    <div *ngFor="let alert of alerts">
      <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout">{{ alert.msg }}</alert>
    </div>
  </form>
</div>
<button type="button" (click)="logOut()" class="logout btn btn-default btn-lg">
  <span class="glyphicon glyphicon-log-out"></span> 
</button>
<button type="button" (click)="goBack()" class="goBack btn btn-default btn-lg">
  <span class="glyphicon glyphicon-chevron-left"></span>
</button>