<div class="row">
    <div class="col-md-3" id="recomendations">
      <h2>Requirements</h2>
      <h3 class="comp">Q:</h3>
      <span class="glyphicon glyphicon-remove icon req" *ngIf="!qComp"></span>
      <span class="glyphicon glyphicon-ok icon reqTrue" *ngIf="qComp"></span>
      <h3 class="comp">W:</h3>
      <span class="glyphicon glyphicon-remove icon req" *ngIf="!wComp"></span>
      <span class="glyphicon glyphicon-ok icon reqTrue" *ngIf="wComp"></span>
      <h3 class="comp">S:</h3>
      <span class="glyphicon glyphicon-remove icon req" *ngIf="!sComp"></span>
      <span class="glyphicon glyphicon-ok icon reqTrue" *ngIf="sComp"></span>
    </div>
  <div class="col-md-4 semester" id="1">
    <h2>{{ year }} Semester 1 </h2>
    <ng-container *ngFor="let semester of (semester1 | async); let i = index">
      <div class="class" *ngIf="semester.student == studentName">
          <button type="button" (click)="deleteClass(semester)" class="createStudent btn btn-default btn-lg">
              <span class="glyphicon glyphicon-remove"></span>
          </button>
          <h2 class="course">{{ semester.course }}</h2>
          <h4 class="desc">{{ semester.description }}</h4>
      </div>
    </ng-container>
  </div>
  <div class="col-md-4 col-md-offset-1" id="2">
    <h2>{{ year }} Semester 2 </h2>
    <ng-container *ngFor="let semester of (semester2 | async); let i = index">        
      <div class="class" *ngIf="semester.student == studentName">
          <button type="button" (click)="deleteClass(semester)" class="createStudent btn btn-default btn-lg">
              <span class="glyphicon glyphicon-remove"></span>
          </button>
        <h2 class="course">{{ semester.course }}</h2>
        <h4 class="desc">{{ semester.description }}</h4>
      </div>
    </ng-container>
  </div>
</div>  
<div class="row">
    <div class="col-md-3" id="recClasses">
      <h2>Recomendations</h2>
      <ng-container *ngFor="let semester of (localClassList | slice:0:3)">
        <div class="recClass">
          <h2 class="course">{{ semester.Course }}</h2>
          <h4 class="desc">{{ semester.Description }}</h4>
        </div>
      </ng-container>
    </div>
  <div class="col-md-4 semester" id="3">
      <h2>Sophomore Semester 1 </h2>
      <ng-container *ngFor="let semester of (semester3 | async); let i = index">          
        <div class="class" *ngIf="semester.student == studentName">
            <button type="button" (click)="deleteClass(semester)" class="createStudent btn btn-default btn-lg">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
          <h2 class="course">{{ semester.course }}</h2>
          <h4 class="desc">{{ semester.description }}</h4>
        </div>
      </ng-container>
    </div>
    <div class="col-md-4 col-md-offset-1" id="4">
      <h2>Sophomore Semester 2 </h2>
      <ng-container *ngFor="let semester of (semester4 | async); let i = index">
          <div class="class" *ngIf="semester.student == studentName">
            <button type="button" (click)="deleteClass(semester)" class="createStudent btn btn-default btn-lg">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
          <h2 class="course">{{ semester.course }}</h2>
          <h4 class="desc">{{ semester.description }}</h4>
        </div>
      </ng-container>
    </div>
</div>

<div class="row">
  <div class="col-md-3" id="requirements">
    <h2>Distributions</h2>
    <h3 class="comp">SS</h3>
    <span class="glyphicon glyphicon-minus icon dist" (click)="decreaseSS()"></span>
    <h3 class="distNum">{{ssNum}}</h3>
    <span class="glyphicon glyphicon-plus icon dist" (click)="increaseSS()"></span>
    <h3 class="comp">SM</h3>
    <span class="glyphicon glyphicon-minus icon dist SM" (click)="decreaseSM()"></span>
    <h3 class="distNum SMNum">{{ smNum }}</h3>
    <span class="glyphicon glyphicon-plus icon dist SM" (click)="increaseSM()"></span>
    <h3 class="comp">AH</h3>
    <span class="glyphicon glyphicon-minus icon dist" (click)="decreaseAH()"></span>
    <h3 class="distNum">{{ ahNum }}</h3>
    <span class="glyphicon glyphicon-plus icon dist" (click)="increaseAH()"></span>
    <h3 class="comp">FL</h3>
    <span class="glyphicon glyphicon-minus icon dist FL" (click)="decreaseFL()"></span>        
    <h3 class="distNum">{{ flNum }}</h3>
    <span class="glyphicon glyphicon-plus icon dist" (click)="increaseFL()"></span>
  </div>
  <div class="col-md-4 semester" id="5">
      <h2>Junior Semester 1 </h2>
      <ng-container *ngFor="let semester of (semester5 | async); let i = index">          
        <div class="class" *ngIf="semester.student == studentName">
            <button type="button" (click)="deleteClass(semester)" class="createStudent btn btn-default btn-lg">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
          <h2 class="course">{{ semester.course }}</h2>
          <h4 class="desc">{{ semester.description }}</h4>
        </div>
      </ng-container>
    </div>
    <div class="col-md-4 col-md-offset-1" id="6">
      <h2>Junior Semester 2 </h2>
      <ng-container *ngFor="let semester of (semester6 | async); let i = index">          
        <div class="class" *ngIf="semester.student == studentName">
            <button type="button" (click)="deleteClass(semester)" class="createStudent btn btn-default btn-lg">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
          <h2 class="course">{{ semester.course }}</h2>
          <h4 class="desc">{{ semester.description }}</h4>
        </div>
      </ng-container>
    </div>
</div>
  
<div class="row">
  <div class="col-md-4 col-md-offset-3 semester" id="7">
      <h2>Senior Semester 1 </h2>
      <ng-container *ngFor="let semester of (semester7 | async); let i = index">          
        <div class="class" *ngIf="semester.student == studentName">
            <button type="button" (click)="deleteClass(semester)" class="createStudent btn btn-default btn-lg">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
          <h2 class="course">{{ semester.course }}</h2>
          <h4 class="desc">{{ semester.description }}</h4>
        </div>
      </ng-container>
    </div>
    <div class="col-md-4 col-md-offset-1" id="8">
      <h2>Senior Semester 2 </h2>
      <ng-container *ngFor="let semester of (semester8 | async); let i = index">          
        <div class="class" *ngIf="semester.student == studentName">
            <button type="button" (click)="deleteClass(semester)" class="createStudent btn btn-default btn-lg">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
          <h2 class="course">{{ semester.course }}</h2>
          <h4 class="desc">{{ semester.description }}</h4>
        </div>
      </ng-container>
    </div>
</div>
